.tile {
  border-radius: 6px;
  width: 100%;
  break-inside: avoid;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #636363;
  }

  &__number {
    font-size: 48px;
    color: #454545;
  }
}
