<div class="container">
  <h1 class="title pt-5 pb-4">Masonry</h1>
  <div class="d-flex justify-content-center py-5">
    <button>Focusable element</button>
  </div>
  <div class="tiles__container" acessibility>
    @for(tile of tiles; track tile){
    <app-tile
      [tile]="tile"
      [attr.data-index]="tile.number"
      tabindex="0"
      (click)="$event.stopPropagation()"
    ></app-tile>
    }
  </div>
  <div class="d-flex justify-content-center py-5">
    <button>Focusable element</button>
  </div>
</div>
